---
title: Path
---
.container
	%h1.white.right The developer path
	.clear
	.timeline
		.left.first
			%p.title Empieza aqu&iacute;
			%p.body Soy totalmente nuevo. Dime por dónde empezar.
			= link_to "Ver m&aacute;s", "newbie.html", :class => "action btn empty-teal"
		.clear
		.right.second
			%p.title Intermedio
			%p.body Ya sé cuál es la diferencia entre back-end y front-end. Me quiero especializar. ¡También incluímos visualización de datos!
			= link_to "Ver m&aacute;s", "newbie.html", :class => "action btn empty-teal"
		.clear
		.left.third
			%p.title Cursos Interactivos
			%p.body Recursos para todos los niveles. Escribe código a tu ritmo y deja que te evalúe la aplicación.
			= link_to "Ver m&aacute;s", "interactive.html", :class => "action btn empty-teal"
		.clear
		.right.fourth
			%p.title Cursos Intensivos
			%p.body Es la mejor manera de adquirir un conocimiento sólido, auqnue lleve más tiempo. Aquí recomendamos varios.
			= link_to "Ver m&aacute;s", "intensivos.html", :class => "action btn empty-teal"
		.clear
		.left.fifth
			%p.title Recursos
			%p.body Herramientas generales que te serán de ayuda hoy y siempre.
			= link_to "Ver m&aacute;s", "resources.html", :class => "action btn empty-teal"
