---
title: Path
---
.container
	%h1.white.right The developer path
	.clear
	.timeline
		.left.first
			%p.title Empieza aqu&iacute;
			%p.body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, eligendi excepturi, id tenetur laborum dignissimos! Repellat distinctio, laborum error nostrum!
			= link_to "Ver m&aacute;s", "newbie.html", :class => "action btn empty-teal"
		.clear
		.right.second
			%p.title Intermedio
			%p.body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, eligendi excepturi, id tenetur laborum dignissimos! Repellat distinctio, laborum error nostrum!
			= link_to "Ver m&aacute;s", "newbie.html", :class => "action btn empty-teal"
		.clear
		.left.third
			%p.title Cursos Interactivos
			%p.body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, eligendi excepturi, id tenetur laborum dignissimos! Repellat distinctio, laborum error nostrum!
			= link_to "Ver m&aacute;s", "interactive.html", :class => "action btn empty-teal"
		.clear
		.right.fourth
			%p.title Cursos Intensivos
			%p.body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, eligendi excepturi, id tenetur laborum dignissimos! Repellat distinctio, laborum error nostrum!
			= link_to "Ver m&aacute;s", "intensivos.html", :class => "action btn empty-teal"
		.clear
		.left.fifth
			%p.title Recursos
			%p.body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, eligendi excepturi, id tenetur laborum dignissimos! Repellat distinctio, laborum error nostrum!
			= link_to "Ver m&aacute;s", "resources.html", :class => "action btn empty-teal"
			
